<% content_for :title, "#{@category.name}" %>

<% content_for :back_link, link_to('<i class="fa-solid fa-circle-chevron-left"></i>'.html_safe, @category) %>

<div>
  <h2>Edit <% @category.name %></h2>
  <%= render "form", category: @category %>
</div>


