<% content_for :title, "New category" %>
<% content_for :back_link, link_to('<i class="fa-solid fa-circle-chevron-left"></i>'.html_safe, categories_path) %>

<section>
  <%= render "form", category: @category %>
</section>
